 data source:
 https://gis.cdc.gov/grasp/diabetes/DiabetesAtlas.html#

In [6]:
initial_data = read.csv(file = 'National_Data.csv')
head(initial_data)
nrow(initial_data)
ncol(initial_data)

  yearid fipscode raceid ageid genderid educationid indicatorid miscid
1 1980   -1       0      5     0        0           1           0
2 1980   -1       0      5     0        0           1           0
3 1980   -1       0      6     0        0           1           0
4 1980   -1       0      6     0        0           1           0
5 1980   -1       0      6     0        0           1           0
6 1980   -1       0      6     0        0           1           0
  datasourceid estimateid SuppressID datasetid GeoLevel Estimate SeEstimate
1 30            61        0          40        National 1        0.1
2 30           101        0          40        National 915      76
3  3            61        0           3        National 5.4      0.3
4  3           101        0           3        National 2337     143
5 30            61        0          40        National 5.4      0.3
6 30           101        0          40        National 2337     143
  LowerLimit UpperLimit
1 0.9        1.2
2 764        1065
3 4.8        6
4 2054       2621
5 4.8        6
6 2054       2621

[1] 29102

[1] 17

In [29]:
library(dplyr)

In [35]:
## yearid
## 3000 <= 1988-1994
## 3001 <= 1995-1998
year_freq = table(initial_data$yearid)
frame_year_freq = as.data.frame(year_freq)
# year_freq
# frame_year_freq

In [22]:
## fipscode
## we can say all fipscode=-1  
## national
fipscode_expect = initial_data[initial_data$fipscode != -1,]
nrow(fipscode_expect)

[1] 0

In [32]:
## raceid
race_freq = table(initial_data$raceid)
race_freq

[1] 84

    0     1     2     3     4     7     8     9    10    19
22862  1568  1568   988   200  1376   180   180    84    96

In [36]:
## ageid
## see note (age-line)
age_freq = table(initial_data$ageid)
age_freq

    1     3     4     5     6     7     8     9    23    24    25    26    27
   40    54   118  1685  1977  1957  1997   292    80    72    72    72    72
   34    35    36    37    38    39    99   100
   64    64    64    64    64    64 11989  8241

In [37]:
## genderid
## 1=male 2=female
gend_freq = table(initial_data$genderid)
gend_freq

    0     1     2
22306  3398  3398

In [38]:
## educationid
## 1=male 2=female
edu_freq = table(initial_data$educationid)
edu_freq

    0     1     2     3
26000  1034  1034  1034

In [41]:
## indicatorid
## diabetes-related topic
indi_freq = table(initial_data$indicatorid)
nrow(as.data.frame(indi_freq))

[1] 38

In [44]:
## miscid  == levels with the indicator
misc_freq = table(initial_data$miscid)
nrow(as.data.frame(misc_freq))

[1] 28

In [58]:
## estimateid  == data type
esti_freq = table(initial_data$estimateid)
## as.data.frame(esti_freq)
## 6 <== percentage

In [60]:
## suppressid
## 1=suppressed 0=not
# not sure this is useful column
supp_freq = table(initial_data$SuppressID)
as.data.frame(supp_freq)

  Var1 Freq
1 0    28504
2 1      598

In [61]:
## datasetid
## description of population
popu_freq = table(initial_data$datasetid)
as.data.frame(popu_freq)

   Var1 Freq
1  3     1102
2  14   14986
3  24    1944
4  26    1922
5  29    2088
6  31    1876
7  33    1996
8  35     880
9  40    1444
10 55     864

In [62]:
## geolevel  == all national
# useless
geo_freq = table(initial_data$GeoLevel)
# as.data.frame(geo_freq)

  Var1     Freq
1 National 29102

In [64]:
## estimate
## data for the estimateid type

## seestimate
## standard error of the estimate

## lowerlimit + upperlimit